*{
    font-family: 'Verdana';
    font-size: 20px;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    color: var(--text-color);
}

/* COLOR DE FONDO */
body{
    background-color: white;
}

/* MENU LATERAL*/
/* MENU LATERAL*/
/* MENU LATERAL*/
/* MENU LATERAL*/
.menu{
    background: white;
    height: 100%;
    box-shadow: 7px -1px 12px rgba(0, 0, 0, 0.11);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    height: 140px;
    width: 140px;
    object-fit: cover;
}
.inicio div{
    display: flex;
    align-items: center;
    justify-content: center;
}


.inicio li{
    height: 70px;
    background-color: white;
    
    
}
.inicio li a{
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inicio li a:hover{
    background-color: #EEF2F5;
}



.logout li{
    height: 70px;
    background-color: white;
}
.logout li a span{
    padding-left: 5%;
}
.logout li a{
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logout li a:hover{
    background-color: #EEF2F5;
}

/* MENU LATERAL*/
/* MENU LATERAL*/
/* MENU LATERAL*/



/* zona arriba */
.arriba{
    display: flex;
    height: 85px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    

}
.arriba .iconos-arriba li{
    width: 60px;
    height: 60px;
}
.arriba .iconos-arriba li a{
    color: var(--text-color);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEF2F5;
}
.arriba .iconos-arriba li a:hover{
    background-color: #e3e8ec;
}




/* menu desplegable */
.modal,.modal2{
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.2);
}
.modal-content,.modal-content2{
    display: flex;
    flex-direction: column;
    background-color: #e3e8ec;
    width: 600px;
    height: 400px;
    align-items: center;
    border-radius: 12px;
    

}
.carta-footerr,.carta-footerr2{
    padding-bottom: 2%;
}
.card-body,.card-body2{
    padding-top: 2%;
}
.modal .close,.modal2 .close2{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5%;
    margin-top: 2%;
}
.modal a,.modal2 a{
    color: var(--text-color);
}
.modal input,.modal2 input{
    width: 100%;
    
}
.modal textarea,.modal2 textarea{
    width: 100%!important;
    min-height: 150px;
    max-height: 215px;
}







/* contenedor de tareas */
.contenedores-tareas {
    display: flex;
    
}

.contenedores-tareas .tareas {
    margin-right: 5%; 
    padding: 3%; 
    background-color: #EEF2F5; 
    box-shadow: 7px -1px 12px rgba(0, 0, 0, 0.11); 
    border-radius: 20px;
}

.contenedores-tareas .tareas .por-hacer{
    display: flex;
    flex-direction: column;
}
.por-hacer-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.contenedores-tareas .tareas .en-proceso{
    display: flex;
    flex-direction: column;
    
}

.en-proceso-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contenedores-tareas .tareas .terminado{
    display: flex;
    flex-direction: column;
    
}
.terminado-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CARTAS DENTRO DE TAREAS*/
/* CARTAS DENTRO DE TAREAS*/
/* CARTAS DENTRO DE TAREAS*/
.carta-tarea{
    background-color: white;
    border-radius: 20px;
    box-shadow: 7px -1px 12px rgba(0, 0, 0, 0.11);
    margin-top: 15%;
    padding: 5%;
}

.carta-header{
    padding: 5%;
    display: flex;
    justify-content: space-between;
}
.carta-header a{
    color: var(--text-color);
}

.carta-texto{
    padding: 2%;
}

.carta-footer{
    border-top-width: 1px;
    border-top-style: solid;
    padding: 5%;
    border-color: rgb(193 193 193);
    
}











/* Estilos para pantallas RESPONSIVE */
/* Estilos para pantallas  */
/* Estilos para pantallas  */

/* Estilos para pantallas grandes */
@media (min-width: 768px) {

    main{
        margin-left: 15%;
    }
    

    body {
        height: 100%;
    }

    .menu {
        width: 15%; 
        position: fixed;
    }

    .contenedores-tareas {
        padding-left: 5%;
        min-height: 700px;
        
    }

    .contenedores-tareas > .tareas {
        width: 60%; 
    }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    body {
        flex-direction: column;
        width: 100%;
    }
    main{
        flex-direction: column;
    }
    .menu-contenido{
        display: flex;
    }

    .menu {
        width: 100%;
        
    }

    .contenedores-tareas {
        display: flex;
        flex-direction: column;
    }


}
