*{
    font-family: Verdana;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding-bottom: 0;
    padding-top: 5%;
    height: 150px;
    
}

.container {
    margin: 0 50px 3vw 50px;
    border-radius: 5px;
    padding: 5vh 5vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2{
    text-align: center;
    padding-bottom: 3vh;
}



label {
    font-weight: bold;
    margin-bottom: 1vh;
}

.login-form label{
    font-weight: bold;
    margin: 1vh 0 2vh 0;
}

form{
    display: flex;
    flex-direction: column;
}


form input,select{
    padding: 15px;
    
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form div{
    display: flex;
    flex-direction: column;
}

button{
    background-color: #333;
    color: #FFFFFF;
    padding: 2.5vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 6%;
    width: 80vh;
   
}

button:hover{
    transition: 0.2s;
    background-color: #b9c0c4;
    color: black;
}

.container .par{
    margin-top: 2vh;
}

.container a{
    color: purple;
    
}

.container a:hover{
    text-decoration: underline;
}


@media (max-width: 767px) {
    button {
        width: 100%;
    }
}